In [1]:
library(dplyr)
library(ggplot2)

Attaching package: 'dplyr'


The following objects are masked from 'package:stats':

    filter, lag


The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union

In [11]:
games_df = read.csv("sushigo2playerrandom.csv")
head(games_df)
str(games_df)
summary(games_df)

  game_no r1p1 r1p2 r2p1 r2p2 r3p1 r3p2 p1_pudding p2_pudding p1_total p2_total
1 0       19   16    9   11   11   15   6          0          45       42
2 1       12   14   19   10   19    7   0          6          50       37
3 2       20   12   27   16   15   18   3          3          65       49
4 3       11   17   13   12   16   13   3          3          43       45
5 4       16   15   22   15   13    8   0          6          51       44
6 5        8   23    9    9   10   16   0          6          27       54
  winner
1 1
2 1
3 1
4 2
5 1
6 2

'data.frame':	100000 obs. of  12 variables:
 $ game_no   : int  0 1 2 3 4 5 6 7 8 9 ...
 $ r1p1      : int  19 12 20 11 16 8 15 21 24 20 ...
 $ r1p2      : int  16 14 12 17 15 23 16 18 9 11 ...
 $ r2p1      : int  9 19 27 13 22 9 18 21 18 21 ...
 $ r2p2      : int  11 10 16 12 15 9 26 14 14 13 ...
 $ r3p1      : int  11 19 15 16 13 10 18 13 11 18 ...
 $ r3p2      : int  15 7 18 13 8 16 9 6 14 13 ...
 $ p1_pudding: int  6 0 3 3 0 0 0 3 3 0 ...
 $ p2_pudding: int  0 6 3 3 6 6 6 3 3 6 ...
 $ p1_total  : int  45 50 65 43 51 27 51 58 56 59 ...
 $ p2_total  : int  42 37 49 45 44 54 57 41 40 43 ...
 $ winner    : int  1 1 1 2 1 2 2 1 1 1 ...

    game_no           r1p1            r1p2            r2p1
 Min.   :    0   Min.   : 3.00   Min.   : 3.00   Min.   : 3.00
 1st Qu.:25000   1st Qu.:12.00   1st Qu.:12.00   1st Qu.:12.00
 Median :50000   Median :15.00   Median :15.00   Median :15.00
 Mean   :50000   Mean   :15.79   Mean   :15.78   Mean   :15.76
 3rd Qu.:74999   3rd Qu.:19.00   3rd Qu.:19.00   3rd Qu.:19.00
 Max.   :99999   Max.   :39.00   Max.   :40.00   Max.   :40.00
      r2p2            r3p1           r3p2        p1_pudding      p2_pudding
 Min.   : 3.00   Min.   : 3.0   Min.   : 3.0   Min.   :0.000   Min.   :0.000
 1st Qu.:12.00   1st Qu.:12.0   1st Qu.:12.0   1st Qu.:0.000   1st Qu.:0.000
 Median :15.00   Median :15.0   Median :15.0   Median :3.000   Median :3.000
 Mean   :15.78   Mean   :15.8   Mean   :15.8   Mean   :3.016   Mean   :2.984
 3rd Qu.:19.00   3rd Qu.:19.0   3rd Qu.:19.0   3rd Qu.:6.000   3rd Qu.:6.000
 Max.   :39.00   Max.   :39.0   Max.   :38.0   Max.   :6.000   Max.   :6.000
    p1_total        p2_total         winner
 Min.   :23.00   Min.   :21.00   Min.   :0.00
 1st Qu.:45.00   1st Qu.:45.00   1st Qu.:1.00
 Median :50.00   Median :50.00   Median :1.00
 Mean   :50.36   Mean   :50.35   Mean   :1.45
 3rd Qu.:56.00   3rd Qu.:56.00   3rd Qu.:2.00
 Max.   :87.00   Max.   :87.00   Max.   :2.00

In [12]:
num_wins <- games_df %>%
    summarize(p1_wins = sum(winner == 1),
             p2_wins = sum(winner == 2),
             ties = sum(winner == 0))

num_wins

  p1_wins p2_wins ties
1 48476   48239   3285

In [15]:
games_df = read.csv("sushigo2playerstrat1.csv")
head(games_df)
str(games_df)
summary(games_df)

num_wins <- games_df %>%
    summarize(p1_wins = sum(winner == 1),
             p2_wins = sum(winner == 2),
             ties = sum(winner == 0),
             r1p1_mean_score = mean(r1p1),
             r2p1_mean_score = mean(r2p1),
             r3p1_mean_score = mean(r3p1),
             r1p2_mean_score = mean(r1p2),
             r2p2_mean_score = mean(r2p2),
             r3p2_mean_score = mean(r3p2))

num_wins

  game_no r1p1 r1p2 r2p1 r2p2 r3p1 r3p2 p1_pudding p2_pudding p1_total p2_total
1 0       16   11   15   20   12   18   6          0          49       49
2 1       18   21   15   21   21   17   0          6          54       65
3 2       13   14   17   14   26   19   6          0          62       47
4 3       16   26   26   14   19   14   0          6          61       60
5 4       14    8   27   16   22   17   3          3          66       44
6 5       12    9   18   24   17   15   0          6          47       54
  winner
1 0
2 2
3 1
4 1
5 1
6 2

'data.frame':	100000 obs. of  12 variables:
 $ game_no   : int  0 1 2 3 4 5 6 7 8 9 ...
 $ r1p1      : int  16 18 13 16 14 12 16 18 21 18 ...
 $ r1p2      : int  11 21 14 26 8 9 11 17 15 12 ...
 $ r2p1      : int  15 15 17 26 27 18 12 21 19 21 ...
 $ r2p2      : int  20 21 14 14 16 24 26 13 7 25 ...
 $ r3p1      : int  12 21 26 19 22 17 6 12 18 21 ...
 $ r3p2      : int  18 17 19 14 17 15 21 18 28 12 ...
 $ p1_pudding: int  6 0 6 0 3 0 3 6 0 0 ...
 $ p2_pudding: int  0 6 0 6 3 6 3 0 6 6 ...
 $ p1_total  : int  49 54 62 61 66 47 37 57 58 60 ...
 $ p2_total  : int  49 65 47 60 44 54 61 48 56 55 ...
 $ winner    : int  0 2 1 1 1 2 2 1 1 1 ...

    game_no           r1p1            r1p2           r2p1            r2p2
 Min.   :    0   Min.   : 3.00   Min.   : 3.0   Min.   : 3.00   Min.   : 3.00
 1st Qu.:25000   1st Qu.:13.00   1st Qu.:12.0   1st Qu.:13.00   1st Qu.:12.00
 Median :50000   Median :16.00   Median :15.0   Median :16.00   Median :15.00
 Mean   :50000   Mean   :16.62   Mean   :15.8   Mean   :16.62   Mean   :15.78
 3rd Qu.:74999   3rd Qu.:20.00   3rd Qu.:19.0   3rd Qu.:20.00   3rd Qu.:19.00
 Max.   :99999   Max.   :40.00   Max.   :38.0   Max.   :40.00   Max.   :42.00
      r3p1            r3p2         p1_pudding   p2_pudding    p1_total
 Min.   : 3.00   Min.   : 3.00   Min.   :0    Min.   :0    Min.   :22.00
 1st Qu.:13.00   1st Qu.:12.00   1st Qu.:0    1st Qu.:0    1st Qu.:47.00
 Median :16.00   Median :15.00   Median :3    Median :3    Median :53.00
 Mean   :16.62   Mean   :15.76   Mean   :3    Mean   :3    Mean   :52.86
 3rd Qu.:20.00   3rd Qu.:19.00   3rd Qu.:6    3rd Qu.:6    3rd Qu.:58.00
 Max.   :41.00   Max.   :39.00   Max.   :6    Max.   :6    Max.   :90.00
    p2_total         winner
 Min.   :22.00   Min.   :0.000
 1st Qu.:45.00   1st Qu.:1.000
 Median :50.00   Median :1.000
 Mean   :50.35   Mean   :1.374
 3rd Qu.:56.00   3rd Qu.:2.000
 Max.   :87.00   Max.   :2.000

  p1_wins p2_wins ties r1p1_mean_score r2p1_mean_score r3p1_mean_score
1 56388   40529   3083 16.62204        16.61583        16.61789
  r1p2_mean_score r2p2_mean_score r3p2_mean_score
1 15.79905        15.78346        15.76442

In [17]:
games_df = read.csv("sushigo2playerstrat1both.csv")
head(games_df)
str(games_df)
summary(games_df)

num_wins <- games_df %>%
    summarize(p1_wins = sum(winner == 1),
             p2_wins = sum(winner == 2),
             ties = sum(winner == 0),
             r1p1_mean_score = mean(r1p1),
             r2p1_mean_score = mean(r2p1),
             r3p1_mean_score = mean(r3p1),
             r1p2_mean_score = mean(r1p2),
             r2p2_mean_score = mean(r2p2),
             r3p2_mean_score = mean(r3p2))

num_wins

  game_no r1p1 r1p2 r2p1 r2p2 r3p1 r3p2 p1_pudding p2_pudding p1_total p2_total
1 0       24   22   19   18   20   16   0          6          63       62
2 1       12   18   15   14   15   13   0          6          42       51
3 2       18   13   14   18   11   14   6          0          49       45
4 3       15   17   23   11   23   14   3          3          64       45
5 4        9   22    9    9   12   18   3          3          33       52
6 5       16   12   18   19   21   17   6          0          61       48
  winner
1 1
2 2
3 1
4 1
5 2
6 1

'data.frame':	100000 obs. of  12 variables:
 $ game_no   : int  0 1 2 3 4 5 6 7 8 9 ...
 $ r1p1      : int  24 12 18 15 9 16 20 12 23 18 ...
 $ r1p2      : int  22 18 13 17 22 12 19 17 17 12 ...
 $ r2p1      : int  19 15 14 23 9 18 12 20 26 20 ...
 $ r2p2      : int  18 14 18 11 9 19 15 12 19 12 ...
 $ r3p1      : int  20 15 11 23 12 21 18 13 23 20 ...
 $ r3p2      : int  16 13 14 14 18 17 17 15 14 15 ...
 $ p1_pudding: int  0 0 6 3 3 6 3 3 3 0 ...
 $ p2_pudding: int  6 6 0 3 3 0 3 3 3 6 ...
 $ p1_total  : int  63 42 49 64 33 61 53 48 75 58 ...
 $ p2_total  : int  62 51 45 45 52 48 54 47 53 45 ...
 $ winner    : int  1 2 1 1 2 1 2 1 1 1 ...

    game_no           r1p1            r1p2            r2p1
 Min.   :    0   Min.   : 3.00   Min.   : 3.00   Min.   : 3.00
 1st Qu.:25000   1st Qu.:13.00   1st Qu.:12.00   1st Qu.:13.00
 Median :50000   Median :16.00   Median :15.00   Median :16.00
 Mean   :50000   Mean   :16.61   Mean   :15.75   Mean   :16.62
 3rd Qu.:74999   3rd Qu.:20.00   3rd Qu.:19.00   3rd Qu.:20.00
 Max.   :99999   Max.   :40.00   Max.   :39.00   Max.   :41.00
      r2p2            r3p1            r3p2        p1_pudding      p2_pudding
 Min.   : 3.00   Min.   : 3.00   Min.   : 3.0   Min.   :0.000   Min.   :0.000
 1st Qu.:12.00   1st Qu.:13.00   1st Qu.:12.0   1st Qu.:0.000   1st Qu.:0.000
 Median :15.00   Median :16.00   Median :15.0   Median :3.000   Median :3.000
 Mean   :15.77   Mean   :16.62   Mean   :15.8   Mean   :2.998   Mean   :3.002
 3rd Qu.:19.00   3rd Qu.:20.00   3rd Qu.:19.0   3rd Qu.:6.000   3rd Qu.:6.000
 Max.   :40.00   Max.   :39.00   Max.   :37.0   Max.   :6.000   Max.   :6.000
    p1_total        p2_total         winner
 Min.   :22.00   Min.   :21.00   Min.   :0.000
 1st Qu.:47.00   1st Qu.:45.00   1st Qu.:1.000
 Median :53.00   Median :50.00   Median :1.000
 Mean   :52.85   Mean   :50.33   Mean   :1.373
 3rd Qu.:58.00   3rd Qu.:56.00   3rd Qu.:2.000
 Max.   :89.00   Max.   :88.00   Max.   :2.000

  p1_wins p2_wins ties r1p1_mean_score r2p1_mean_score r3p1_mean_score
1 56485   40399   3116 16.61421        16.61632        16.62305
  r1p2_mean_score r2p2_mean_score r3p2_mean_score
1 15.75357        15.77435        15.79937