In [1]:
library(dplyr)
library(ggplot2)

Attaching package: 'dplyr'


The following objects are masked from 'package:stats':

    filter, lag


The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union

In [11]:
# both players play randomly
games_df = read.csv("sushigo2playerrandom.csv")
head(games_df)
str(games_df)
summary(games_df)

  game_no r1p1 r1p2 r2p1 r2p2 r3p1 r3p2 p1_pudding p2_pudding p1_total p2_total
1 0       19   16    9   11   11   15   6          0          45       42
2 1       12   14   19   10   19    7   0          6          50       37
3 2       20   12   27   16   15   18   3          3          65       49
4 3       11   17   13   12   16   13   3          3          43       45
5 4       16   15   22   15   13    8   0          6          51       44
6 5        8   23    9    9   10   16   0          6          27       54
  winner
1 1
2 1
3 1
4 2
5 1
6 2

'data.frame':	100000 obs. of  12 variables:
 $ game_no   : int  0 1 2 3 4 5 6 7 8 9 ...
 $ r1p1      : int  19 12 20 11 16 8 15 21 24 20 ...
 $ r1p2      : int  16 14 12 17 15 23 16 18 9 11 ...
 $ r2p1      : int  9 19 27 13 22 9 18 21 18 21 ...
 $ r2p2      : int  11 10 16 12 15 9 26 14 14 13 ...
 $ r3p1      : int  11 19 15 16 13 10 18 13 11 18 ...
 $ r3p2      : int  15 7 18 13 8 16 9 6 14 13 ...
 $ p1_pudding: int  6 0 3 3 0 0 0 3 3 0 ...
 $ p2_pudding: int  0 6 3 3 6 6 6 3 3 6 ...
 $ p1_total  : int  45 50 65 43 51 27 51 58 56 59 ...
 $ p2_total  : int  42 37 49 45 44 54 57 41 40 43 ...
 $ winner    : int  1 1 1 2 1 2 2 1 1 1 ...

    game_no           r1p1            r1p2            r2p1
 Min.   :    0   Min.   : 3.00   Min.   : 3.00   Min.   : 3.00
 1st Qu.:25000   1st Qu.:12.00   1st Qu.:12.00   1st Qu.:12.00
 Median :50000   Median :15.00   Median :15.00   Median :15.00
 Mean   :50000   Mean   :15.79   Mean   :15.78   Mean   :15.76
 3rd Qu.:74999   3rd Qu.:19.00   3rd Qu.:19.00   3rd Qu.:19.00
 Max.   :99999   Max.   :39.00   Max.   :40.00   Max.   :40.00
      r2p2            r3p1           r3p2        p1_pudding      p2_pudding
 Min.   : 3.00   Min.   : 3.0   Min.   : 3.0   Min.   :0.000   Min.   :0.000
 1st Qu.:12.00   1st Qu.:12.0   1st Qu.:12.0   1st Qu.:0.000   1st Qu.:0.000
 Median :15.00   Median :15.0   Median :15.0   Median :3.000   Median :3.000
 Mean   :15.78   Mean   :15.8   Mean   :15.8   Mean   :3.016   Mean   :2.984
 3rd Qu.:19.00   3rd Qu.:19.0   3rd Qu.:19.0   3rd Qu.:6.000   3rd Qu.:6.000
 Max.   :39.00   Max.   :39.0   Max.   :38.0   Max.   :6.000   Max.   :6.000
    p1_total        p2_total         winner
 Min.   :23.00   Min.   :21.00   Min.   :0.00
 1st Qu.:45.00   1st Qu.:45.00   1st Qu.:1.00
 Median :50.00   Median :50.00   Median :1.00
 Mean   :50.36   Mean   :50.35   Mean   :1.45
 3rd Qu.:56.00   3rd Qu.:56.00   3rd Qu.:2.00
 Max.   :87.00   Max.   :87.00   Max.   :2.00

In [12]:
num_wins <- games_df %>%
    summarize(p1_wins = sum(winner == 1),
             p2_wins = sum(winner == 2),
             ties = sum(winner == 0))

num_wins

  p1_wins p2_wins ties
1 48476   48239   3285

In [15]:
# player one picks with priority list:
# sashimi, tempura, wasabi, squid, salmon, egg,
# dumpling, maki3, maki3, maki1, pudding, chopstick
games_df = read.csv("sushigo2playerstrat1.csv")
head(games_df)
str(games_df)
summary(games_df)

num_wins <- games_df %>%
    summarize(p1_wins = sum(winner == 1),
             p2_wins = sum(winner == 2),
             ties = sum(winner == 0),
             r1p1_mean_score = mean(r1p1),
             r2p1_mean_score = mean(r2p1),
             r3p1_mean_score = mean(r3p1),
             r1p2_mean_score = mean(r1p2),
             r2p2_mean_score = mean(r2p2),
             r3p2_mean_score = mean(r3p2))

num_wins

  game_no r1p1 r1p2 r2p1 r2p2 r3p1 r3p2 p1_pudding p2_pudding p1_total p2_total
1 0       16   11   15   20   12   18   6          0          49       49
2 1       18   21   15   21   21   17   0          6          54       65
3 2       13   14   17   14   26   19   6          0          62       47
4 3       16   26   26   14   19   14   0          6          61       60
5 4       14    8   27   16   22   17   3          3          66       44
6 5       12    9   18   24   17   15   0          6          47       54
  winner
1 0
2 2
3 1
4 1
5 1
6 2

'data.frame':	100000 obs. of  12 variables:
 $ game_no   : int  0 1 2 3 4 5 6 7 8 9 ...
 $ r1p1      : int  16 18 13 16 14 12 16 18 21 18 ...
 $ r1p2      : int  11 21 14 26 8 9 11 17 15 12 ...
 $ r2p1      : int  15 15 17 26 27 18 12 21 19 21 ...
 $ r2p2      : int  20 21 14 14 16 24 26 13 7 25 ...
 $ r3p1      : int  12 21 26 19 22 17 6 12 18 21 ...
 $ r3p2      : int  18 17 19 14 17 15 21 18 28 12 ...
 $ p1_pudding: int  6 0 6 0 3 0 3 6 0 0 ...
 $ p2_pudding: int  0 6 0 6 3 6 3 0 6 6 ...
 $ p1_total  : int  49 54 62 61 66 47 37 57 58 60 ...
 $ p2_total  : int  49 65 47 60 44 54 61 48 56 55 ...
 $ winner    : int  0 2 1 1 1 2 2 1 1 1 ...

    game_no           r1p1            r1p2           r2p1            r2p2
 Min.   :    0   Min.   : 3.00   Min.   : 3.0   Min.   : 3.00   Min.   : 3.00
 1st Qu.:25000   1st Qu.:13.00   1st Qu.:12.0   1st Qu.:13.00   1st Qu.:12.00
 Median :50000   Median :16.00   Median :15.0   Median :16.00   Median :15.00
 Mean   :50000   Mean   :16.62   Mean   :15.8   Mean   :16.62   Mean   :15.78
 3rd Qu.:74999   3rd Qu.:20.00   3rd Qu.:19.0   3rd Qu.:20.00   3rd Qu.:19.00
 Max.   :99999   Max.   :40.00   Max.   :38.0   Max.   :40.00   Max.   :42.00
      r3p1            r3p2         p1_pudding   p2_pudding    p1_total
 Min.   : 3.00   Min.   : 3.00   Min.   :0    Min.   :0    Min.   :22.00
 1st Qu.:13.00   1st Qu.:12.00   1st Qu.:0    1st Qu.:0    1st Qu.:47.00
 Median :16.00   Median :15.00   Median :3    Median :3    Median :53.00
 Mean   :16.62   Mean   :15.76   Mean   :3    Mean   :3    Mean   :52.86
 3rd Qu.:20.00   3rd Qu.:19.00   3rd Qu.:6    3rd Qu.:6    3rd Qu.:58.00
 Max.   :41.00   Max.   :39.00   Max.   :6    Max.   :6    Max.   :90.00
    p2_total         winner
 Min.   :22.00   Min.   :0.000
 1st Qu.:45.00   1st Qu.:1.000
 Median :50.00   Median :1.000
 Mean   :50.35   Mean   :1.374
 3rd Qu.:56.00   3rd Qu.:2.000
 Max.   :87.00   Max.   :2.000

  p1_wins p2_wins ties r1p1_mean_score r2p1_mean_score r3p1_mean_score
1 56388   40529   3083 16.62204        16.61583        16.61789
  r1p2_mean_score r2p2_mean_score r3p2_mean_score
1 15.79905        15.78346        15.76442

In [17]:
# both players follow the previous strategy
games_df = read.csv("sushigo2playerstrat1both.csv")
head(games_df)
str(games_df)
summary(games_df)

num_wins <- games_df %>%
    summarize(p1_wins = sum(winner == 1),
             p2_wins = sum(winner == 2),
             ties = sum(winner == 0),
             r1p1_mean_score = mean(r1p1),
             r2p1_mean_score = mean(r2p1),
             r3p1_mean_score = mean(r3p1),
             r1p2_mean_score = mean(r1p2),
             r2p2_mean_score = mean(r2p2),
             r3p2_mean_score = mean(r3p2))

num_wins

  game_no r1p1 r1p2 r2p1 r2p2 r3p1 r3p2 p1_pudding p2_pudding p1_total p2_total
1 0       24   22   19   18   20   16   0          6          63       62
2 1       12   18   15   14   15   13   0          6          42       51
3 2       18   13   14   18   11   14   6          0          49       45
4 3       15   17   23   11   23   14   3          3          64       45
5 4        9   22    9    9   12   18   3          3          33       52
6 5       16   12   18   19   21   17   6          0          61       48
  winner
1 1
2 2
3 1
4 1
5 2
6 1

'data.frame':	100000 obs. of  12 variables:
 $ game_no   : int  0 1 2 3 4 5 6 7 8 9 ...
 $ r1p1      : int  24 12 18 15 9 16 20 12 23 18 ...
 $ r1p2      : int  22 18 13 17 22 12 19 17 17 12 ...
 $ r2p1      : int  19 15 14 23 9 18 12 20 26 20 ...
 $ r2p2      : int  18 14 18 11 9 19 15 12 19 12 ...
 $ r3p1      : int  20 15 11 23 12 21 18 13 23 20 ...
 $ r3p2      : int  16 13 14 14 18 17 17 15 14 15 ...
 $ p1_pudding: int  0 0 6 3 3 6 3 3 3 0 ...
 $ p2_pudding: int  6 6 0 3 3 0 3 3 3 6 ...
 $ p1_total  : int  63 42 49 64 33 61 53 48 75 58 ...
 $ p2_total  : int  62 51 45 45 52 48 54 47 53 45 ...
 $ winner    : int  1 2 1 1 2 1 2 1 1 1 ...

    game_no           r1p1            r1p2            r2p1
 Min.   :    0   Min.   : 3.00   Min.   : 3.00   Min.   : 3.00
 1st Qu.:25000   1st Qu.:13.00   1st Qu.:12.00   1st Qu.:13.00
 Median :50000   Median :16.00   Median :15.00   Median :16.00
 Mean   :50000   Mean   :16.61   Mean   :15.75   Mean   :16.62
 3rd Qu.:74999   3rd Qu.:20.00   3rd Qu.:19.00   3rd Qu.:20.00
 Max.   :99999   Max.   :40.00   Max.   :39.00   Max.   :41.00
      r2p2            r3p1            r3p2        p1_pudding      p2_pudding
 Min.   : 3.00   Min.   : 3.00   Min.   : 3.0   Min.   :0.000   Min.   :0.000
 1st Qu.:12.00   1st Qu.:13.00   1st Qu.:12.0   1st Qu.:0.000   1st Qu.:0.000
 Median :15.00   Median :16.00   Median :15.0   Median :3.000   Median :3.000
 Mean   :15.77   Mean   :16.62   Mean   :15.8   Mean   :2.998   Mean   :3.002
 3rd Qu.:19.00   3rd Qu.:20.00   3rd Qu.:19.0   3rd Qu.:6.000   3rd Qu.:6.000
 Max.   :40.00   Max.   :39.00   Max.   :37.0   Max.   :6.000   Max.   :6.000
    p1_total        p2_total         winner
 Min.   :22.00   Min.   :21.00   Min.   :0.000
 1st Qu.:47.00   1st Qu.:45.00   1st Qu.:1.000
 Median :53.00   Median :50.00   Median :1.000
 Mean   :52.85   Mean   :50.33   Mean   :1.373
 3rd Qu.:58.00   3rd Qu.:56.00   3rd Qu.:2.000
 Max.   :89.00   Max.   :88.00   Max.   :2.000

  p1_wins p2_wins ties r1p1_mean_score r2p1_mean_score r3p1_mean_score
1 56485   40399   3116 16.61421        16.61632        16.62305
  r1p2_mean_score r2p2_mean_score r3p2_mean_score
1 15.75357        15.77435        15.79937

In [2]:
# player one picks with priority list:
# dumpling, wasabi, squid, salmon, egg, maki3, 
# maki2, maki1, tempura, sashimi, pudding, chopstick
games_df = read.csv("sushigo2playerstrat2.csv")
head(games_df)
str(games_df)
summary(games_df)

num_wins <- games_df %>%
    summarize(p1_wins = sum(winner == 1),
             p2_wins = sum(winner == 2),
             ties = sum(winner == 0),
             r1p1_mean_score = mean(r1p1),
             r2p1_mean_score = mean(r2p1),
             r3p1_mean_score = mean(r3p1),
             r1p2_mean_score = mean(r1p2),
             r2p2_mean_score = mean(r2p2),
             r3p2_mean_score = mean(r3p2))

num_wins

  game_no r1p1 r1p2 r2p1 r2p2 r3p1 r3p2 p1_pudding p2_pudding p1_total p2_total
1 0        9   21   18   12    7   20   3          3          37       56
2 1       17   21   11   11   14   22   0          6          42       60
3 2       19   17   16   12    9   22   6          0          50       51
4 3        9   16   19   19   19   14   3          3          50       52
5 4       13   16   13   16   18   24   6          0          50       56
6 5       18   26   11   17   12    9   0          6          41       58
  winner
1 2
2 2
3 2
4 2
5 2
6 2

'data.frame':	100000 obs. of  12 variables:
 $ game_no   : int  0 1 2 3 4 5 6 7 8 9 ...
 $ r1p1      : int  9 17 19 9 13 18 9 23 13 18 ...
 $ r1p2      : int  21 21 17 16 16 26 22 10 15 14 ...
 $ r2p1      : int  18 11 16 19 13 11 17 11 13 16 ...
 $ r2p2      : int  12 11 12 19 16 17 6 12 11 18 ...
 $ r3p1      : int  7 14 9 19 18 12 9 18 12 18 ...
 $ r3p2      : int  20 22 22 14 24 9 11 18 7 16 ...
 $ p1_pudding: int  3 0 6 3 6 0 6 6 0 0 ...
 $ p2_pudding: int  3 6 0 3 0 6 0 0 6 6 ...
 $ p1_total  : int  37 42 50 50 50 41 41 58 38 52 ...
 $ p2_total  : int  56 60 51 52 56 58 39 40 39 54 ...
 $ winner    : int  2 2 2 2 2 2 1 1 2 2 ...

    game_no           r1p1            r1p2           r2p1            r2p2
 Min.   :    0   Min.   : 3.00   Min.   : 3.0   Min.   : 3.00   Min.   : 3.00
 1st Qu.:25000   1st Qu.:13.00   1st Qu.:12.0   1st Qu.:13.00   1st Qu.:12.00
 Median :50000   Median :16.00   Median :15.0   Median :16.00   Median :15.00
 Mean   :50000   Mean   :16.63   Mean   :15.8   Mean   :16.64   Mean   :15.77
 3rd Qu.:74999   3rd Qu.:20.00   3rd Qu.:19.0   3rd Qu.:20.00   3rd Qu.:19.00
 Max.   :99999   Max.   :41.00   Max.   :39.0   Max.   :41.00   Max.   :37.00
      r3p1            r3p2         p1_pudding      p2_pudding
 Min.   : 3.00   Min.   : 3.00   Min.   :0.000   Min.   :0.000
 1st Qu.:13.00   1st Qu.:12.00   1st Qu.:0.000   1st Qu.:0.000
 Median :16.00   Median :15.00   Median :3.000   Median :3.000
 Mean   :16.61   Mean   :15.81   Mean   :3.006   Mean   :2.994
 3rd Qu.:20.00   3rd Qu.:19.00   3rd Qu.:6.000   3rd Qu.:6.000
 Max.   :39.00   Max.   :40.00   Max.   :6.000   Max.   :6.000
    p1_total        p2_total         winner
 Min.   :18.00   Min.   :20.00   Min.   :0.000
 1st Qu.:47.00   1st Qu.:45.00   1st Qu.:1.000
 Median :53.00   Median :50.00   Median :1.000
 Mean   :52.88   Mean   :50.36   Mean   :1.373
 3rd Qu.:58.00   3rd Qu.:56.00   3rd Qu.:2.000
 Max.   :88.00   Max.   :84.00   Max.   :2.000

  p1_wins p2_wins ties r1p1_mean_score r2p1_mean_score r3p1_mean_score
1 56452   40404   3144 16.62705        16.63557        16.61087
  r1p2_mean_score r2p2_mean_score r3p2_mean_score
1 15.79518        15.76753        15.80546

In [2]:
# player one picks with priority list:
# squid, salmon, egg, dumpling, tempura, pudding,
# wasabi, maki3, maki2, maki1, sashimi, chopstick
games_df = read.csv("sushigo2playerstrat3.csv")
head(games_df)
str(games_df)
summary(games_df)

num_wins <- games_df %>%
    summarize(p1_wins = sum(winner == 1),
             p2_wins = sum(winner == 2),
             ties = sum(winner == 0),
             r1p1_mean_score = mean(r1p1),
             r2p1_mean_score = mean(r2p1),
             r3p1_mean_score = mean(r3p1),
             r1p2_mean_score = mean(r1p2),
             r2p2_mean_score = mean(r2p2),
             r3p2_mean_score = mean(r3p2))

num_wins

  game_no r1p1 r1p2 r2p1 r2p2 r3p1 r3p2 p1_pudding p2_pudding p1_total p2_total
1 0       14   18   17    6   11   12   3          3          45       39
2 1       19    8   21   17   16   17   3          3          59       45
3 2       13   24   15   19    6   12   0          6          34       61
4 3       16   15   14   20   19   11   3          3          52       49
5 4       24   21   14   20   10    6   6          0          54       47
6 5       12   18   10   21    9    8   6          0          37       47
  winner
1 1
2 1
3 2
4 1
5 1
6 2

'data.frame':	100000 obs. of  12 variables:
 $ game_no   : int  0 1 2 3 4 5 6 7 8 9 ...
 $ r1p1      : int  14 19 13 16 24 12 8 13 14 15 ...
 $ r1p2      : int  18 8 24 15 21 18 14 17 10 18 ...
 $ r2p1      : int  17 21 15 14 14 10 17 11 24 12 ...
 $ r2p2      : int  6 17 19 20 20 21 26 17 19 11 ...
 $ r3p1      : int  11 16 6 19 10 9 14 15 13 12 ...
 $ r3p2      : int  12 17 12 11 6 8 21 15 15 21 ...
 $ p1_pudding: int  3 3 0 3 6 6 6 3 0 3 ...
 $ p2_pudding: int  3 3 6 3 0 0 0 3 6 3 ...
 $ p1_total  : int  45 59 34 52 54 37 45 42 51 42 ...
 $ p2_total  : int  39 45 61 49 47 47 61 52 50 53 ...
 $ winner    : int  1 1 2 1 1 2 2 2 1 2 ...

    game_no           r1p1            r1p2            r2p1
 Min.   :    0   Min.   : 3.00   Min.   : 3.00   Min.   : 3.00
 1st Qu.:25000   1st Qu.:12.00   1st Qu.:12.00   1st Qu.:11.00
 Median :50000   Median :14.00   Median :15.00   Median :14.00
 Mean   :50000   Mean   :14.68   Mean   :15.81   Mean   :14.67
 3rd Qu.:74999   3rd Qu.:17.00   3rd Qu.:19.00   3rd Qu.:17.00
 Max.   :99999   Max.   :33.00   Max.   :38.00   Max.   :35.00
      r2p2            r3p1            r3p2         p1_pudding
 Min.   : 3.00   Min.   : 3.00   Min.   : 3.00   Min.   :0.000
 1st Qu.:12.00   1st Qu.:11.00   1st Qu.:12.00   1st Qu.:0.000
 Median :15.00   Median :14.00   Median :15.00   Median :3.000
 Mean   :15.75   Mean   :14.66   Mean   :15.77   Mean   :2.995
 3rd Qu.:19.00   3rd Qu.:17.00   3rd Qu.:19.00   3rd Qu.:6.000
 Max.   :38.00   Max.   :35.00   Max.   :39.00   Max.   :6.000
   p2_pudding       p1_total     p2_total         winner
 Min.   :0.000   Min.   :20   Min.   :21.00   Min.   :0.000
 1st Qu.:0.000   1st Qu.:42   1st Qu.:45.00   1st Qu.:1.000
 Median :3.000   Median :47   Median :50.00   Median :2.000
 Mean   :3.005   Mean   :47   Mean   :50.33   Mean   :1.563
 3rd Qu.:6.000   3rd Qu.:52   3rd Qu.:56.00   3rd Qu.:2.000
 Max.   :6.000   Max.   :81   Max.   :87.00   Max.   :2.000

  p1_wins p2_wins ties r1p1_mean_score r2p1_mean_score r3p1_mean_score
1 37155   59563   3282 14.6786         14.66985        14.65943
  r1p2_mean_score r2p2_mean_score r3p2_mean_score
1 15.80643        15.75462        15.76714

In [6]:
# strategy 3 vs strategy 2
games_df = read.csv("sushigo2playerstrat3and2.csv")
head(games_df)
str(games_df)
summary(games_df)

num_wins <- games_df %>%
    summarize(p1_wins = sum(winner == 1),
             p2_wins = sum(winner == 2),
             ties = sum(winner == 0),
             r1p1_mean_score = mean(r1p1),
             r2p1_mean_score = mean(r2p1),
             r3p1_mean_score = mean(r3p1),
             r1p2_mean_score = mean(r1p2),
             r2p2_mean_score = mean(r2p2),
             r3p2_mean_score = mean(r3p2))

num_wins

  game_no r1p1 r1p2 r2p1 r2p2 r3p1 r3p2 p1_pudding p2_pudding p1_total p2_total
1 0       11   11   18   13   17   15   3          3          49       42
2 1       19   13   13   14   11   10   6          0          49       37
3 2       17   19    9   14   17   14   6          0          49       47
4 3       21   28   16   11   17   13   6          0          60       52
5 4       18   15    7    8   23   13   0          6          48       42
6 5       10   13   20   24   16   26   3          3          49       66
  winner
1 1
2 1
3 1
4 1
5 1
6 2

'data.frame':	100000 obs. of  12 variables:
 $ game_no   : int  0 1 2 3 4 5 6 7 8 9 ...
 $ r1p1      : int  11 19 17 21 18 10 14 17 8 15 ...
 $ r1p2      : int  11 13 19 28 15 13 19 20 7 16 ...
 $ r2p1      : int  18 13 9 16 7 20 14 13 15 25 ...
 $ r2p2      : int  13 14 14 11 8 24 18 18 16 21 ...
 $ r3p1      : int  17 11 17 17 23 16 10 29 13 17 ...
 $ r3p2      : int  15 10 14 13 13 26 16 16 15 28 ...
 $ p1_pudding: int  3 6 6 6 0 3 0 0 3 3 ...
 $ p2_pudding: int  3 0 0 0 6 3 6 6 3 3 ...
 $ p1_total  : int  49 49 49 60 48 49 38 59 39 60 ...
 $ p2_total  : int  42 37 47 52 42 66 59 60 41 68 ...
 $ winner    : int  1 1 1 1 1 2 2 2 2 2 ...

    game_no           r1p1            r1p2            r2p1
 Min.   :    0   Min.   : 3.00   Min.   : 3.00   Min.   : 3.00
 1st Qu.:25000   1st Qu.:12.00   1st Qu.:13.00   1st Qu.:11.00
 Median :50000   Median :14.00   Median :16.00   Median :14.00
 Mean   :50000   Mean   :14.67   Mean   :16.64   Mean   :14.63
 3rd Qu.:74999   3rd Qu.:17.00   3rd Qu.:20.00   3rd Qu.:17.00
 Max.   :99999   Max.   :33.00   Max.   :40.00   Max.   :34.00
      r2p2            r3p1            r3p2         p1_pudding
 Min.   : 3.00   Min.   : 3.00   Min.   : 3.00   Min.   :0.000
 1st Qu.:13.00   1st Qu.:11.00   1st Qu.:13.00   1st Qu.:0.000
 Median :16.00   Median :14.00   Median :16.00   Median :3.000
 Mean   :16.64   Mean   :14.67   Mean   :16.61   Mean   :2.988
 3rd Qu.:20.00   3rd Qu.:17.00   3rd Qu.:20.00   3rd Qu.:6.000
 Max.   :40.00   Max.   :34.00   Max.   :40.00   Max.   :6.000
   p2_pudding       p1_total        p2_total         winner
 Min.   :0.000   Min.   :20.00   Min.   :23.00   Min.   :0.000
 1st Qu.:0.000   1st Qu.:42.00   1st Qu.:47.00   1st Qu.:1.000
 Median :3.000   Median :47.00   Median :53.00   Median :2.000
 Mean   :3.012   Mean   :46.97   Mean   :52.89   Mean   :1.645
 3rd Qu.:6.000   3rd Qu.:52.00   3rd Qu.:58.00   3rd Qu.:2.000
 Max.   :6.000   Max.   :80.00   Max.   :92.00   Max.   :2.000

  p1_wins p2_wins ties r1p1_mean_score r2p1_mean_score r3p1_mean_score
1 29612   67419   2969 14.6725         14.6337         14.67365
  r1p2_mean_score r2p2_mean_score r3p2_mean_score
1 16.63507        16.63564        16.60584

In [5]:
# strategy 3 vs strategy 1
games_df = read.csv("sushigo2playerstrat3and1.csv")
head(games_df)
str(games_df)
summary(games_df)

num_wins <- games_df %>%
    summarize(p1_wins = sum(winner == 1),
             p2_wins = sum(winner == 2),
             ties = sum(winner == 0),
             r1p1_mean_score = mean(r1p1),
             r2p1_mean_score = mean(r2p1),
             r3p1_mean_score = mean(r3p1),
             r1p2_mean_score = mean(r1p2),
             r2p2_mean_score = mean(r2p2),
             r3p2_mean_score = mean(r3p2))

num_wins

  game_no r1p1 r1p2 r2p1 r2p2 r3p1 r3p2 p1_pudding p2_pudding p1_total p2_total
1 0       19   14   15   14   22    7   0          6          56       41
2 1       19   26    7   22    9   11   6          0          41       59
3 2        8   20   19   20    8   16   6          0          41       56
4 3       11   20    9   21   15   18   0          6          35       65
5 4       10   23   26   11   12   15   6          0          54       49
6 5       16    9   16   21   19   23   6          0          57       53
  winner
1 1
2 2
3 2
4 2
5 1
6 1

'data.frame':	100000 obs. of  12 variables:
 $ game_no   : int  0 1 2 3 4 5 6 7 8 9 ...
 $ r1p1      : int  19 19 8 11 10 16 11 14 13 17 ...
 $ r1p2      : int  14 26 20 20 23 9 13 12 16 9 ...
 $ r2p1      : int  15 7 19 9 26 16 17 9 7 17 ...
 $ r2p2      : int  14 22 20 21 11 21 13 13 12 10 ...
 $ r3p1      : int  22 9 8 15 12 19 16 22 13 14 ...
 $ r3p2      : int  7 11 16 18 15 23 9 14 20 15 ...
 $ p1_pudding: int  0 6 6 0 6 6 0 0 6 0 ...
 $ p2_pudding: int  6 0 0 6 0 0 6 6 0 6 ...
 $ p1_total  : int  56 41 41 35 54 57 44 45 39 48 ...
 $ p2_total  : int  41 59 56 65 49 53 41 45 48 40 ...
 $ winner    : int  1 2 2 2 1 1 1 0 2 1 ...

    game_no           r1p1            r1p2            r2p1
 Min.   :    0   Min.   : 3.00   Min.   : 3.00   Min.   : 3.00
 1st Qu.:25000   1st Qu.:12.00   1st Qu.:13.00   1st Qu.:12.00
 Median :50000   Median :14.00   Median :16.00   Median :14.00
 Mean   :50000   Mean   :14.67   Mean   :16.63   Mean   :14.69
 3rd Qu.:74999   3rd Qu.:17.00   3rd Qu.:20.00   3rd Qu.:17.00
 Max.   :99999   Max.   :36.00   Max.   :39.00   Max.   :34.00
      r2p2            r3p1            r3p2         p1_pudding
 Min.   : 3.00   Min.   : 3.00   Min.   : 3.00   Min.   :0.000
 1st Qu.:13.00   1st Qu.:12.00   1st Qu.:13.00   1st Qu.:0.000
 Median :16.00   Median :14.00   Median :16.00   Median :3.000
 Mean   :16.63   Mean   :14.66   Mean   :16.62   Mean   :2.998
 3rd Qu.:20.00   3rd Qu.:17.00   3rd Qu.:20.00   3rd Qu.:6.000
 Max.   :38.00   Max.   :35.00   Max.   :39.00   Max.   :6.000
   p2_pudding       p1_total        p2_total         winner
 Min.   :0.000   Min.   :20.00   Min.   :22.00   Min.   :0.000
 1st Qu.:0.000   1st Qu.:42.00   1st Qu.:47.00   1st Qu.:1.000
 Median :3.000   Median :47.00   Median :53.00   Median :2.000
 Mean   :3.002   Mean   :47.02   Mean   :52.88   Mean   :1.643
 3rd Qu.:6.000   3rd Qu.:52.00   3rd Qu.:58.00   3rd Qu.:2.000
 Max.   :6.000   Max.   :78.00   Max.   :95.00   Max.   :2.000

  p1_wins p2_wins ties r1p1_mean_score r2p1_mean_score r3p1_mean_score
1 29624   67351   3025 14.67272        14.6906         14.66021
  r1p2_mean_score r2p2_mean_score r3p2_mean_score
1 16.63361        16.62547        16.62339

In [7]:
# player 1 picks with priority:
# chopsticks, wasabi, dumpling, squid, maki3, tempura,
# salmon, maki2, egg, maki1, sashimi, pudding
games_df = read.csv("sushigo2playerstrat4.csv")
head(games_df)
str(games_df)
summary(games_df)

num_wins <- games_df %>%
    summarize(p1_wins = sum(winner == 1),
             p2_wins = sum(winner == 2),
             ties = sum(winner == 0),
             r1p1_mean_score = mean(r1p1),
             r2p1_mean_score = mean(r2p1),
             r3p1_mean_score = mean(r3p1),
             r1p2_mean_score = mean(r1p2),
             r2p2_mean_score = mean(r2p2),
             r3p2_mean_score = mean(r3p2))

num_wins

  game_no r1p1 r1p2 r2p1 r2p2 r3p1 r3p2 p1_pudding p2_pudding p1_total p2_total
1 0       16    8   15   19   16   18   0          6          47       51
2 1       18   20   23   24   21   15   3          3          65       62
3 2       11   11   16   16   17   17   0          6          44       50
4 3       14   20   13   18   13   13   3          3          43       54
5 4       18   18   10   11   22   14   3          3          53       46
6 5       17   16   11   20   10    9   0          6          38       51
  winner
1 2
2 1
3 2
4 2
5 1
6 2

'data.frame':	100000 obs. of  12 variables:
 $ game_no   : int  0 1 2 3 4 5 6 7 8 9 ...
 $ r1p1      : int  16 18 11 14 18 17 24 14 11 15 ...
 $ r1p2      : int  8 20 11 20 18 16 19 26 26 27 ...
 $ r2p1      : int  15 23 16 13 10 11 12 18 12 13 ...
 $ r2p2      : int  19 24 16 18 11 20 24 18 17 18 ...
 $ r3p1      : int  16 21 17 13 22 10 14 17 16 10 ...
 $ r3p2      : int  18 15 17 13 14 9 24 13 30 22 ...
 $ p1_pudding: int  0 3 0 3 3 0 6 3 6 6 ...
 $ p2_pudding: int  6 3 6 3 3 6 0 3 0 0 ...
 $ p1_total  : int  47 65 44 43 53 38 56 52 45 44 ...
 $ p2_total  : int  51 62 50 54 46 51 67 60 73 67 ...
 $ winner    : int  2 1 2 2 1 2 2 2 2 2 ...

    game_no           r1p1            r1p2            r2p1
 Min.   :    0   Min.   : 3.00   Min.   : 3.00   Min.   : 3.00
 1st Qu.:25000   1st Qu.:13.00   1st Qu.:12.00   1st Qu.:13.00
 Median :50000   Median :16.00   Median :15.00   Median :16.00
 Mean   :50000   Mean   :16.65   Mean   :15.77   Mean   :16.61
 3rd Qu.:74999   3rd Qu.:20.00   3rd Qu.:19.00   3rd Qu.:20.00
 Max.   :99999   Max.   :40.00   Max.   :40.00   Max.   :37.00
      r2p2            r3p1            r3p2         p1_pudding
 Min.   : 3.00   Min.   : 3.00   Min.   : 3.00   Min.   :0.000
 1st Qu.:12.00   1st Qu.:13.00   1st Qu.:12.00   1st Qu.:0.000
 Median :15.00   Median :16.00   Median :15.00   Median :3.000
 Mean   :15.79   Mean   :16.65   Mean   :15.79   Mean   :2.992
 3rd Qu.:19.00   3rd Qu.:20.00   3rd Qu.:19.00   3rd Qu.:6.000
 Max.   :36.00   Max.   :39.00   Max.   :37.00   Max.   :6.000
   p2_pudding       p1_total        p2_total         winner
 Min.   :0.000   Min.   :23.00   Min.   :19.00   Min.   :0.00
 1st Qu.:0.000   1st Qu.:47.00   1st Qu.:45.00   1st Qu.:1.00
 Median :3.000   Median :53.00   Median :50.00   Median :1.00
 Mean   :3.008   Mean   :52.91   Mean   :50.35   Mean   :1.37
 3rd Qu.:6.000   3rd Qu.:58.00   3rd Qu.:56.00   3rd Qu.:2.00
 Max.   :6.000   Max.   :89.00   Max.   :86.00   Max.   :2.00

  p1_wins p2_wins ties r1p1_mean_score r2p1_mean_score r3p1_mean_score
1 56622   40207   3171 16.65063        16.61425        16.65484
  r1p2_mean_score r2p2_mean_score r3p2_mean_score
1 15.77208        15.78744        15.78574

In [8]:
# strategy 4 vs 1
games_df = read.csv("sushigo2playerstrat4and1.csv")
# head(games_df)
# str(games_df)
# summary(games_df)

num_wins <- games_df %>%
    summarize(p1_wins = sum(winner == 1),
             p2_wins = sum(winner == 2),
             ties = sum(winner == 0),
             r1p1_mean_score = mean(r1p1),
             r2p1_mean_score = mean(r2p1),
             r3p1_mean_score = mean(r3p1),
             r1p2_mean_score = mean(r1p2),
             r2p2_mean_score = mean(r2p2),
             r3p2_mean_score = mean(r3p2))
"4 vs 1"
num_wins

# strategy 4 vs 2
games_df = read.csv("sushigo2playerstrat4and2.csv")
# head(games_df)
# str(games_df)
# summary(games_df)

num_wins <- games_df %>%
    summarize(p1_wins = sum(winner == 1),
             p2_wins = sum(winner == 2),
             ties = sum(winner == 0),
             r1p1_mean_score = mean(r1p1),
             r2p1_mean_score = mean(r2p1),
             r3p1_mean_score = mean(r3p1),
             r1p2_mean_score = mean(r1p2),
             r2p2_mean_score = mean(r2p2),
             r3p2_mean_score = mean(r3p2))
"4 vs 2"
num_wins

# strategy 4 vs 3
games_df = read.csv("sushigo2playerstrat4and3.csv")
# head(games_df)
# str(games_df)
# summary(games_df)

num_wins <- games_df %>%
    summarize(p1_wins = sum(winner == 1),
             p2_wins = sum(winner == 2),
             ties = sum(winner == 0),
             r1p1_mean_score = mean(r1p1),
             r2p1_mean_score = mean(r2p1),
             r3p1_mean_score = mean(r3p1),
             r1p2_mean_score = mean(r1p2),
             r2p2_mean_score = mean(r2p2),
             r3p2_mean_score = mean(r3p2))
"4 vs 3"
num_wins

[1] "4 vs 1"

  p1_wins p2_wins ties r1p1_mean_score r2p1_mean_score r3p1_mean_score
1 48509   48343   3148 16.62588        16.62094        16.65433
  r1p2_mean_score r2p2_mean_score r3p2_mean_score
1 16.61967        16.62379        16.61333

[1] "4 vs 2"

  p1_wins p2_wins ties r1p1_mean_score r2p1_mean_score r3p1_mean_score
1 48224   48607   3169 16.59838        16.62422        16.61837
  r1p2_mean_score r2p2_mean_score r3p2_mean_score
1 16.60871        16.63703        16.59788

[1] "4 vs 3"

  p1_wins p2_wins ties r1p1_mean_score r2p1_mean_score r3p1_mean_score
1 67490   29566   2944 16.60606        16.63697        16.64159
  r1p2_mean_score r2p2_mean_score r3p2_mean_score
1 14.67095        14.68265        14.6733