In [46]:
df_titanic_train <- read.csv("C:/Users/kgtrm/Documents/R projects data/TitanicTrain.csv")
str(df_titanic_train)

'data.frame':	891 obs. of  12 variables:
 $ PassengerId: int  1 2 3 4 5 6 7 8 9 10 ...
 $ Survived   : int  0 1 1 1 0 0 0 0 1 1 ...
 $ Pclass     : int  3 1 3 1 3 3 1 3 3 2 ...
 $ Name       : chr  "Braund, Mr. Owen Harris" "Cumings, Mrs. John Bradley (Florence Briggs Thayer)" "Heikkinen, Miss. Laina" "Futrelle, Mrs. Jacques Heath (Lily May Peel)" ...
 $ Sex        : chr  "male" "female" "female" "female" ...
 $ Age        : num  22 38 26 35 35 NA 54 2 27 14 ...
 $ SibSp      : int  1 1 0 1 0 0 0 3 0 1 ...
 $ Parch      : int  0 0 0 0 0 0 0 1 2 0 ...
 $ Ticket     : chr  "A/5 21171" "PC 17599" "STON/O2. 3101282" "113803" ...
 $ Fare       : num  7.25 71.28 7.92 53.1 8.05 ...
 $ Cabin      : chr  "" "C85" "" "C123" ...
 $ Embarked   : chr  "S" "C" "S" "S" ...

In [47]:
summary(df_titanic_train$Age)

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.    NA's
   0.42   20.12   28.00   29.70   38.00   80.00     177

In [4]:
library(rpart)

In [48]:
age_pred <- rpart(Age ~ Pclass + Sex + SibSp + Parch + Fare,
                 data = df_titanic_train[!is.na(df_titanic_train$Age),],
                 method = "anova"
                 )

In [49]:
# now we replace the NAs using the age_pred model
df_titanic_train$Age[is.na(df_titanic_train$Age)] <- predict(age_pred,
                                                            df_titanic_train[is.na(df_titanic_train$Age),])
# note: Cabin was originally included as part of the prediction model 
# but I took it out since it didn't have all the levels in the non-NAs
# and thus could not predict for the NAs

In [50]:
summary(df_titanic_train$Age)
# look at that. the stats barely changed

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
   0.42   21.53   27.84   29.56   37.00   80.00

In [11]:
summary(df_titanic_train$Embarked)

   Length     Class      Mode
      891 character character

In [13]:
which(df_titanic_train$Embarked == '')
# some of the rows are missing the embarked value (which is the same for everyone)

[1]  62 830

In [51]:
df_titanic_train$Embarked[c(62, 830)] <- 'S'
df_titanic_train$Embarked <- factor(df_titanic_train$Embarked)

In [15]:
summary(df_titanic_train$Fare)

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
   0.00    7.91   14.45   32.20   31.00  512.33

In [17]:
library(randomForest)

randomForest 4.6-14

Type rfNews() to see new features/changes/bug fixes.

In [52]:
set.seed(12345)
df_titanic_train$Survived <- as.factor(df_titanic_train$Survived)
df_titanic_train$Pclass <- as.factor(df_titanic_train$Pclass)

In [53]:
# initialize the model
fit <- randomForest(Survived ~ Age + Pclass + Sex + SibSp + Parch + Fare + Embarked,
                   data = df_titanic_train,
                   ntree = 5000,
                   importance = TRUE)

In [54]:
# test model
df_titanic_test <- read.csv("C:/Users/kgtrm/Documents/R projects data/TitanicTest.csv")
str(df_titanic_test)
summary(df_titanic_test$Age)

'data.frame':	418 obs. of  11 variables:
 $ PassengerId: int  892 893 894 895 896 897 898 899 900 901 ...
 $ Pclass     : int  3 3 2 3 3 3 3 2 3 3 ...
 $ Name       : chr  "Kelly, Mr. James" "Wilkes, Mrs. James (Ellen Needs)" "Myles, Mr. Thomas Francis" "Wirz, Mr. Albert" ...
 $ Sex        : chr  "male" "female" "male" "male" ...
 $ Age        : num  34.5 47 62 27 22 14 30 26 18 21 ...
 $ SibSp      : int  0 1 0 0 1 0 0 1 0 2 ...
 $ Parch      : int  0 0 0 0 1 0 0 1 0 0 ...
 $ Ticket     : chr  "330911" "363272" "240276" "315154" ...
 $ Fare       : num  7.83 7 9.69 8.66 12.29 ...
 $ Cabin      : chr  "" "" "" "" ...
 $ Embarked   : chr  "Q" "S" "Q" "S" ...

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.    NA's
   0.17   21.00   27.00   30.27   39.00   76.00      86

In [55]:
# we again need to fill in missing values
age_pred_test <- rpart(Age ~ Pclass + Sex + SibSp + Parch + Fare,
                      data = df_titanic_test[!is.na(df_titanic_test$Age),],
                      method = "anova"
                      )

df_titanic_test$Age[is.na(df_titanic_test$Age)] <- predict(age_pred_test,
                                                          df_titanic_test[is.na(df_titanic_test$Age),])

summary(df_titanic_test$Age)

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
   0.17   22.00   26.12   29.78   36.38   76.00

In [56]:
summary(df_titanic_test$Embarked)
summary(df_titanic_test$Fare)

   Length     Class      Mode
      418 character character

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.    NA's
  0.000   7.896  14.454  35.627  31.500 512.329       1

In [23]:
# one NA in Fare so we will replace with the median value
which(is.na(df_titanic_test$Fare))

[1] 153

In [57]:
df_titanic_test$Fare[153] <- median(df_titanic_test$Fare, na.rm = TRUE)

In [58]:
# change type of Pclass and Embarked, to match it with the type in train
df_titanic_test$Pclass <- as.factor(df_titanic_test$Pclass)
df_titanic_test$Embarked <- as.factor(df_titanic_test$Embarked)

In [59]:
Prediction <- predict(fit, df_titanic_test)

In [60]:
df_predictions <- as.data.frame(Prediction)
df_predictions$PassengerId <- df_titanic_test$PassengerId
df_predictions <- df_predictions[,c(2,1)]

In [61]:
colnames(df_predictions) <- c("PassengerId", "Survived")
df_predictions

    PassengerId Survived
1   892         0
2   893         0
3   894         0
4   895         0
5   896         0
6   897         0
7   898         0
8   899         0
9   900         1
10  901         0
11  902         0
12  903         0
13  904         1
14  905         0
15  906         1
16  907         1
17  908         0
18  909         0
19  910         0
20  911         0
21  912         1
22  913         0
23  914         1
24  915         0
25  916         1
26  917         0
27  918         1
28  919         0
29  920         0
30  921         0
... ...         ...
389 1280        0
390 1281        0
391 1282        0
392 1283        1
393 1284        0
394 1285        0
395 1286        0
396 1287        1
397 1288        0
398 1289        1
399 1290        0
400 1291        0
401 1292        1
402 1293        0
403 1294        1
404 1295        0
405 1296        0
406 1297        0
407 1298        0
408 1299        0
409 1300        1
410 1301        1
411 1302        1
412 1303        1
413 1304        0
414 1305        0
415 1306        1
416 1307        0
417 1308        0
418 1309        1

In [35]:
# improve the model
library(party)
# not sure this one worked correctly

Loading required package: grid

Loading required package: mvtnorm

Loading required package: modeltools

Loading required package: stats4

Loading required package: strucchange

Loading required package: zoo


Attaching package: 'zoo'


The following objects are masked from 'package:base':

    as.Date, as.Date.numeric


Loading required package: sandwich

In [62]:
df_titanic_train$Sex <- as.factor(df_titanic_train$Sex)

In [63]:
set.seed(12345)
fit_better <- cforest(Survived ~ Age + Pclass + Sex + SibSp + Parch + Fare + Embarked,
                     data = df_titanic_train,
                     controls = cforest_unbiased(ntree = 2000, mtry = 3))

Prediction_new <- predict(fit_better, df_titanic_test, OOB = TRUE, type = "response")

In [70]:
library(dplyr)

Attaching package: 'dplyr'


The following object is masked from 'package:randomForest':

    combine


The following objects are masked from 'package:stats':

    filter, lag


The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union

In [71]:
all_ids <- union(df_titanic_train$PassengerId, df_titanic_test$PassengerId)

In [72]:
str(all_ids)

 int [1:1309] 1 2 3 4 5 6 7 8 9 10 ...

In [75]:
df_predictions_better <- as.data.frame(Prediction_new)
df_predictions_better$PassengerId <- df_titanic_train$PassengerId
df_predictions_better <- df_predictions_better[,c(2,1)]

In [76]:
colnames(df_predictions_better) <- c("PassengerId", "Survived")
df_predictions_better

    PassengerId Survived
1    1          0
2    2          1
3    3          0
4    4          1
5    5          0
6    6          0
7    7          0
8    8          0
9    9          0
10  10          1
11  11          1
12  12          1
13  13          0
14  14          0
15  15          1
16  16          1
17  17          0
18  18          0
19  19          1
20  20          1
21  21          0
22  22          0
23  23          1
24  24          0
25  25          0
26  26          0
27  27          0
28  28          0
29  29          1
30  30          0
... ...         ...
862 862         0
863 863         1
864 864         0
865 865         0
866 866         1
867 867         1
868 868         0
869 869         0
870 870         0
871 871         0
872 872         1
873 873         0
874 874         0
875 875         1
876 876         1
877 877         0
878 878         0
879 879         0
880 880         1
881 881         1
882 882         0
883 883         1
884 884         0
885 885         0
886 886         0
887 887         0
888 888         1
889 889         0
890 890         0
891 891         0